.mae1{
    display: flex;
    flex-direction: column;
    height: 100vh;

    .cabec{
         display: flex;
         height: 25vh;
          width: 100%;
         rotate: 0.2deg;
  
    
        
    }

    
    .logoo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        margin-left: 45px;  
    }

    .lgo{
        height: 110px;
        width: 110px;
    }

    .voltarr{
        color: #fff;
        text-decoration: none;
    }

    .voltarr:hover{
        text-decoration: none;
    }

    .corpao{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 110px;

        h1{
            font-size: 70px;
            margin-top: -30px;
            margin-bottom: 100px;
        }
    }
  

    .fundaozao{
        height: 160vh;
        width: 100vw;
        background-image: url(../../../public/assets/image/fundo-onda.png);
        background-position: 50% 17%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .semititulo{
        display: flex;
        height: 20vh;
        width: 100vw;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 18px;
        margin-bottom: 15px;



        .inputzao{
            display: flex;
            justify-content: center;
            height: 6vh;
            width: 50vw;
            padding-left: 100px;
            border-radius: 10px;
            margin-right: 40px;
            outline: none;
            border: none !important;
            font-size: 25px;
            border: 1px solid #000;
        }


        .butao{
            display: flex;
            width: 25vw !important;
            height: 6vh;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            outline: none;
            font-size: 30px;
            border: none !important;
            position: relative;
            right: 4px;
            top: 1px;

        }

        .certo{
            display: flex;
            justify-content: center;
            background-image: url(../../../public/assets/image/certo.png);
            width: 20px;
            height: 35px;
            position: relative;
            right: 38px;
            top: 0px;
            align-items: center;


        }

    }

    .img-produtao{
        display: flex;
        width: 33vw;
        height: 35vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        border-radius: 20px;

       .preto{
        display: flex;
        width: 12.8vw;
        background-image: url(../../../public/assets/image/imagem-produto.png);
        background-repeat: no-repeat;
        height: 22.7vh;
       }
    }

    .agrupa-letrao{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
       
       

        .letrao{
           color: #fff;
        }
        .linhao{
            width: 13vw;
            height: 2px;
            background-color: #fff;
            
        }
    }


    .agrupa-qua{
        display: flex;
        flex-direction: column;
        justify-content:center;
        width: 50vw;
        height: 50vh;
        gap: 25px;

        .ipt1{
            display: flex;
            justify-content: center;
            height: 6vh;
            font-size: 35px;
            padding-left: 25px;
            border-radius: 10px;
            outline: none;
            border:none;
       
        }
    }


    .two-button{
        display: flex;
        flex-direction: row;
        gap: 250px;
        justify-content: center;
        width: 50vw;
        align-items: center;
        margin-top: 25px;

        .editar {
            width: 400px !important;
            padding: 15px;
            font-size: 30px;
        }
        
    }

    .confirmar{
        margin-left: 70px;
        width: 600px;
        color: #000;
        font-weight: bold;
        font-size: 25px;
    }

    .ct{
        margin-right: -200px;
        margin-left: 160px;
    }

    button{
        height: 55px;
        background-color: #fff;
        width: 870px !important;
        border: none;
        font-weight: bold;
        color: #0084ff;
    }
   
    }


    
       
    

