.principal{
    display: flex;
    flex-direction: column;


    .corpo-pt1{
        display: flex;
        flex-direction: column;

        text-align: center;
        justify-content: center;


        h1{ 
            text-align: center;
            margin-bottom: 30px;
            justify-content: center;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }


    .corpo-pt2{
        height: 13.3vh;
        display: flex;
        flex-direction: row;

        text-align: center;
        justify-content: center;
        

        margin-bottom: 95.7px;

        img{
            height: 10vh;
            width: 5vw;
            margin-right: 150px;

        }
    }
    

    .direita{
        margin-left: 70vw;
        align-items: center;
        

        img{
            height: 5vh;
            width: 2vw;
            margin-top: 20px;

            margin-right: 5px;
        }
    }

    .esquerda{
        margin: 10px;

    }


    .imagens{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img{
            align-items: center;
            justify-content: center;
        }
    }
}