.mae {
    display: flex;
    flex-direction: column;

    span{
        font-family:  'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

    }

    .cor{
        color: #fff;
        text-decoration: none;
    }

.dilado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 6px;

.sair-conta {
    border: 1px solid white;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.7s;
    width: 180px;
}


.sair-conta:hover {
background-color: #fff;
border: 10px solid #000;
color: red !important;
}

    .sair-conta:hover{
        color: rgb(160, 160, 160) !important;
      border: 1px solid dimgray !important;
      transform: 0.7s;
    }
}

    .container {

        display: flex;
        flex-direction: column;
    }

    .container {


        .agrupa-categorias {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;

            .fundo {
                display: flex;
                align-items: center;
                justify-content: center;
                background-image: url(../../public/assets/image/fundo-cabecalho.png);
                width: 100vh;
                height: 6vh;
                border: 2px solid white;
                color: white;
                font-size: 20px;
                border-bottom: none;
            }




        }

        nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-image: url(./../../public/assets/image/fundo-cabecalho.png);
            background-size: cover;
            height: 15vh;
            width: 100%;
            padding: 30px 50px 40px 0px;
            background-repeat: no-repeat;


            .lupa {
                width: 30px;
                height: 30px;
                position: relative;
                right: 190px;
            }

            .carrinho {

                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 12px;
                    margin-left: 15px;
                    color: white;
                    font-weight: bold;
                }

                .azulcarro {
                    width: 60px;
                }
            }


            .logo {
                width: 100px;

            }

            input {

                font-size: 23px;
                width: 470px;
                height: 50px;
                outline: none;
                border-radius: 15px;
                border: none;
                padding-left: 35px;
                margin-left: 100px;
            }

            .encontre::placeholder {
                font-size: 24px;
            }


            .agrupa-pandaa {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                gap: 100px;

                .agrupa-panda {
                    text-align: center;

                    span {
                        display: flex;
                        flex-direction: row;
                        margin-left: 40px;
                        align-items: center;
                        justify-content: center;
                        width: 55px;
                        background-color: white;
                        padding: 20px;
                        font-size: 14px;
                        border-radius: 300px;
                        margin-bottom: 5px;
                    }

                    p {
                        color: white;
                        margin-bottom: 10px;
                        font-size: 15px;
                    }

                 

                    display: flex;

                }

                .agrupa-categorias {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 10px;

                    .fundo {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-image: url(../../public/assets/image/fundo-cabecalho.png);
                        width: 100vh;
                        height: 6vh;
                        border: 2px solid white;
                        color: white;
                        font-size: 20px;
                        border-bottom: none;



                        .cor{
                            color: #fff;
                            text-decoration: none;
                        }
                    }


                    
                }



            }

            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background-image: url(./../../public/assets/image/fundo-cabecalho.png);
                background-size: cover;
                height: 15vh;
                width: 100%;
                padding: 30px 100px 10px 0px;
                background-repeat: no-repeat;


                .lupa {
                    width: 30px;
                    height: 30px;
                    position: relative;
                    right: 190px;
                }

                .carrinho {

                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    p {
                        font-size: 12px;
                        margin-left: 15px;
                        color: white;
                        font-weight: bold;
                    }

                    .azulcarro {
                        width: 60px;
                    }
                }


                .logo {
                    width: 100px;

                }

                input {

                    font-size: 23px;
                    width: 470px;
                    height: 50px;
                    outline: none;
                    border-radius: 15px;
                    border: none;
                    padding-left: 35px;
                    margin-left: 100px;
                }

                .encontre::placeholder {
                    font-size: 24px;
                }


                .agrupa-pandaa {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    gap: 100px;

                    .agrupa-panda {
                        text-align: center;

                        span {
                            display: flex;
                            flex-direction: row;
                            margin-left: 40px;
                            align-items: center;
                            justify-content: center;
                            width: 55px;
                            background-color: white;
                            padding: 20px;
                            font-size: 14px;
                            border-radius: 300px;
                            margin-bottom: 5px;
                        }

                        p {
                            color: white;
                            margin-bottom: 10px;
                            margin-right: 5px;
                            font-size: 50px !important;
                        }

                     

                        display: flex;
                        flex-direction: column;

                        .agrupa-categorias {
                            display: flex;
                            flex-direction: row;
                            margin-bottom: 10px;

                            .fundo {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-image: url(../../public/assets/image/fundo-cabecalho.png);
                                width: 100vh;
                                height: 6vh;
                                border: 2px solid white;
                                color: white;
                                font-size: 20px;
                                border-bottom: none;


                                .cor{
                                    color: #fff;
                                }
                            }




                        }

                        nav {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            background-image: url(./../../public/assets/image/fundo-cabecalho.png);
                            background-size: cover;
                            height: 15vh;
                            width: 100%;
                            background-repeat: no-repeat;


                       
                            .lupa {
                                width: 30px;
                                height: 30px;
                                position: relative;
                                right: 190px;
                            }

                            .carrinho {

                                display: flex;
                                flex-direction: column;
                                align-items: center;

                                p {
                                    font-size: 10px;
                                    margin-left: 15px;
                                    color: white;
                                    font-weight: bold;
                                }

                                .azulcarro {

                                    width: 40px;
                                }
                            }


                            .logo {
                                width: 400px !important;

                            }

                            input {

                                font-size: 23px;
                                width: 470px;
                                height: 50px;
                                outline: none;
                                border-radius: 15px;
                                border: none;
                                padding-left: 35px;
                                margin-left: 100px;
                            }

                            .encontre::placeholder {
                                font-size: 24px;
                            }


            .agrupa-panda {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 40px;

                                span {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: center;
                                    margin-left: 30px;
                                    width: 50px;
                                    background-color: white;
                                    padding: 20px;
                                    font-size: 12px;
                                    border-radius: 300px;
                                    margin-bottom: 5px;
                                }

                                p {
                                    font-size: 12px;
                                    color: white;
                                    margin-bottom: 10px;
                                }


                              
                                
                            }

                        }


                    }



                }

                // RESPONSIVIDADE

                @media (max-width: 850px) {
                    .mae {
                        width: 800vw;
                    }

                    .agrupa-panda {
                        margin-right: 5px;
                    }

                    .carrinho {
                        margin-left: -7px;

                        p {
                            margin-left: 20px
                        }
                    }

                    .fundo {
                        p {
                            font-size: 20px;
                        }
                    }

                    .span {
                        height: 50px;
                        padding: 1px;
                        margin-top: 20px;
                    }

                    .encontre::placeholder {
                        margin: 25px;
                    }

                    .encontre {
                        margin-right: 1px;
                    }

                    .azulcarro {
                        width: 10px;
                    }

                    .errados {
                        height: 54px;
                    }

                    .sair-conta {
                        width: 200px;
                    }

                    .lupa {
                        margin-left: 1px;
                    }
                }



                /// responsividade
                /// 
           
                /// 
                /// 
                /// 
                /// 
                /// 
                /// 
                /// 
         

                @media (max-width: 1240px) {

                    .agrupa-panda {
                        height: 17vh !important;

                        .sair-conta {
                            border: 1px solid white;
                            padding: 3px !important;
                            border-radius: 5px;
                            cursor: pointer;
                            font-size: 10px;
                        }


                    }

                }


               
                // RESPONSIVIDADE
                p {
                    font-size: 12px;
                }
            }


            span {
                margin-right: 35px !important;
                width: 50px !important;
                font-size: 10px !important;
            }

            .lupa {
                left: -110px;
            }
        }




        //
        @media (max-width: 978px) {

            .fundo {
                p {
                    font-size: 15px;
                }
            }



            .encontre {
                width: 340px !important;
            }

            .encontre::placeholder {
                font-size: 19px !important;
            }

            .lupa {
                right: 15px !important;
            }

        }



        //
        @media (max-width: 948px) {

            .encontre {
                align-items: center !important;
                justify-content: center !important;

            }

            .encontre::placeholder {
                font-size: 12px !important;
            }

            .encontre {
                width: 230px !important;
                height: 30px !important;
                border-radius: 10px !important;
            }

            .lupa {
                width: 18px !important;
                height: 18px !important;
            }
        }


        //
        @media (max-width: 664px) {

            .fundo {
                p {
                    font-size: 10px;
                }
            }

            .sair-conta {
                width: 120px !important;
            }

            span {
                margin-left: 35px !important;
            }

            .carrinho {
                .azulcarro {
                    display: none;
                }

                p {
                    display: none;
                }
            }
        }

        //

        @media (max-width: 736px) {


            .fundo {
                p {
                    font-size: 10px;
                }
            }
        }

        @media (max-width: 478px) {


            .fundo {
                p {
                    font-size: 5px;
                }
            }

            @media (max-width: 768px) {
                .mae {
                    width: 800vw;
                }

                .agrupa-panda {
                    margin-right: 5px;
                }

                .carrinho {
                    margin-left: -7px;

                    p {
                        margin-left: 20px
                    }
                }

                .fundo {
                    p {
                        font-size: 20px;
                    }
                }

                .span {
                    height: 50px;
                    padding: 1px;
                    margin-top: 20px;
                }

                .encontre::placeholder {
                    font-size: larger;
                }

                .inp {
                    margin-left: -120px;
                }

                .encontre {
                    margin-right: 9px;
                    margin: 0px 9px 0px 0px;
                    height: 15px;
                }

                .carrinho {
                    height: 90px;
                    width: 80px;
                    align-items: center;
                }

                .azulcarro {
                    width: 100px;
                }

                .errados {
                    height: 54px;
                }

                .sair-conta {
                    width: 150px;
                }

                .fundo {
                    p {
                        font-size: 5px;
                    }
                }
            }

            .logo {
                margin-left: 25px;
            }

            .lupa {
                margin-left: -90px;

            }
        }
    }

    .agrupa-panda {
        margin-right: 5px;
    }

    .carrinho {
        margin-right: 40px;
        margin-top: 35px;

        p {
            margin-left: 20px
        }
    }

    .fundo {
        p {
            font-size: 20px;
        }
    }

    .span {
        height: 50px;
        padding: 10px;
        margin-top: 20px;
    }

    .encontre::placeholder {
        font-size: larger;
    }

    .inp {
        margin-left: -120px;
    }

    .encontre {
        margin-right: 9px;
        margin: 0px 9px 0px 0px;
        height: 15px;
    }

    .carrinho {
        height: 90px;
        width: 80px;
        align-items: center;
    }

    .azulcarro {
        width: 100px;
    }

    .errados {
        height: 54px;
    }

    .sair-conta {
        width: 150px;
    }


    .logo {
        margin-left: 25px;
    }

    .lupa {
        margin-left: -90px;

    }
}

@media (max-width: 450px) {
    .mae{
        max-width: 100%;
    }

    .carrinho{
        display: none !important;
    }
    
    .logo{
        width: 85px !important;
    }

    .sair-conta{
        display: none;
    }

    .agrupa-categorias{

        p{
            font-size: 13px;
        }
    }
}


@media (max-width: 604px) {

    span{
        margin-left: 500px !important;
    }
    
    .fundo {
        height: 45px !important;
        .cor {
            font-size: 10px;
        }
    }
}