.mae{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    .tudo{
        background-image: url(../../public/assets/image/fundo-corpo.png);
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        background-repeat: no-repeat;
        
        .centralizar{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-bottom: -25px;
        }
        

        .prd{
            font-size: 50px;
            font-weight: 500;
            margin-bottom: 50px;
            margin-top: 80px;
        }

        nav{
            display: flex;
            flex-direction: row;
            color: #fff;
            align-items: center;
            margin-left: 35px;               
        }

        #filtro{
            width: 250px;
            height: 35px;
            padding-left: 90px;
            outline: none;
            margin-left: 50px;
            border-radius: 5px;
            font-weight: 600;
            margin-top: 45px;
        }

        button{
            height: 35px;
            background-color: #309CFF;
            border: none;
            color: #fff;
        }

        button:hover{
            box-shadow: 0px 0px 10px 0.1px #000;
            transition: 0.2s;
            height: 38px;
        }

        .abc{
            height: 450px;
            width: 350px;
            background-color: #fff;
            border-radius: 15px;
            display: flex;
            justify-content: start;
            flex-direction: column;
            align-items: center;
        }
        
            h3{
                font-weight: 500;
            }

        .abc:hover{
                box-shadow: 0px 0px 25px 0.1px #a4fff7;
                transition: 0.2s;
                height: 465px;
                width: 360px;
                 .line{
                    width: 360px;
                    transition: 0.2s;
                
                 }

                 
                
            }
            

               

        .preco{
            margin-bottom: 0px;
            margin-top: -2px;

        }

        .caminhao{
            height: 25px;
            width: 25px;
        }

        .p{
            color: #000;
        }

        section{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 15px;
            margin-bottom: 30px;
            gap: 15px;
        }

        .divis{
            margin-top: 150px;
            gap: 50px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            margin-bottom: 25px;
        }

        .imagi{
            height: 155px;
            width: 155px;
            margin-top: 8px;
            margin-bottom: 25px;
        }

        .txt{
            color: #000;
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center;
        }

        .line{
            height: 2px;
            background-color: #000000;
            width: 350px;
        }

        .fdp{
            background-color: #000;
            height: 15vh;
            width: 15vw;
        }

        .fim{
            margin-top: 0px;
            background-color: #000000;
        }       
    }

}