
.mae-adm {

.container {

display: flex;
flex-direction: row;

.espaco-1 {
    display: flex;
    flex-direction:column;

    width: 400px ;
    height: 130vh;
    background-color: #1A417C;

 .agendaa{
 display: flex; 
 align-items: center;
 flex-direction: row;
 text-decoration: none;
 margin-bottom: 90px;
 transition: 0.8s;
 cursor: pointer;

    .agenda {
        width: 200px;
      margin: 15px;
      width: 50px;
    }

    h3{
      color: white;
      font-size: 30px;
    }
  }

    .logoo {
        display: flex;
        width: 400px;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 170px;
       .logo{ 
        width: 240px;
       }
    }

.agendaa:hover{
width: 100%;
background-color: rgb(56, 69, 255);
}

}


.espaco-2 {
  display: flex;
  flex-direction: column;

  .logo-grande {
    width: 800px;
    height: 800px;
  }

  .d9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
    width: 100%;
    height: 100%;

    .h1-button {
     display: flex;
     flex-direction: column;
     margin-right: 820px;
     margin-left: 100px;

     h1{
      font-size: 56px;
     }

     input {
      outline: none;
      border-radius: 5px;
      font-size: 20px;
      color: white;
      border: none;
      background-color:#595959 ;
      width: 280px;
       padding: 15px;
     }


     .lupa {
      position: relative;
      right: 40px;
      top: 10px;
      width: 30px;
     }
    }
    
    .d8{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 55vw;
        height: 45vh;
        background-color: #D9D9D9;
        box-shadow:1px 1px 10px 1px #818181;
        border-radius: 20px;
        margin-bottom: 100px;
        .input-4 {
            display: flex;
            flex-direction: column;


            input{
                display: flex;
                align-items:center;
                color: white;
                font-size: 18px;
                width: 340px;
                padding: 15px;
                border-radius: 10px;
                margin-bottom: 30px;
                margin-right: 100px;
                outline: none;
                border: none;
                background-color: #939393;
            }

            ::-webkit-input-placeholder {
                color: white;
                font-size: 18px;
            }
        }

       .cinzaa {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 15px;
        margin-left: 10px;
        margin-top: 60px;
        .cinza{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20vw;
            height: 22vh;
            background-color: #939393; 
            margin-bottom: 35px;

            #imagemCapa{
              visibility: hidden;
              position: absolute;
            }

            .imagem {
              width: 400px;
              height: 200px;
            }
        }

        .salvar {
            border: none;
            font-size: 25px;
            border-radius: 5px;
            background-color: #164FA6;
            color: white;
            width: 260px;
            padding: 15px;
        }
       }

    }
  }

  h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
  }

  .usuario {
    width: 80px;
    height: 80px;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 60px 10px 50px;
    align-items: center;
    width: 106.9vh;
    height: 15vh;
    background-color: #164FA6;

.usuario-p{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;

    p{
        color: white;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid white;
        transition: 0.5s;
        cursor: pointer;
    }

   p:hover {
    border: 1px solid rgb(168, 168, 168);
    color: rgb(168, 168, 168);
   }

}

  }

}

}

}


