.todo-rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

.cp-rdp{
    background-image: url(../../public/assets/image/fundo-cabecalho.png);
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}
}