.mae-login {



    .container-login {



        background-image: url(../../public/assets/image/fundologiin.png);
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;



        .agrupa-tudo {



            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            margin-top: 110px !important;



            .erro-login {
                font-size: 30px;
                margin-top: 30px;
            }



            .usuario-login {



                .usuario {
                    width: 200px;
                }



                h2 {
                    font-size: 70px;
                    color: white;
                }
            }



            .input-login {
                display: flex;
                flex-direction: column;



                input {
                    font-size: 18px;
                    width: 490px !important;
                    padding: 20px !important;
                    margin-bottom: 30px;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                }
            }



            .agrupa-botao {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 480px !important;


                .agrupa-p {
                  display: flex;
                  flex-direction: column;
                a {
                    
                    cursor: pointer;
                    text-decoration: none;
                    color: white;
                    margin-bottom: 9px;
                }

            }

                button {
                    width: 210px !important;
                    padding: 18px !important;
                    font-size: 18px !important;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                }



            }



        }





        nav {



            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px 50px 10px 50px;



            .img-logo {
                width: 150px;
            }



            .adm-login {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
 

                h3 {
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                }



            }



        }



    }







    @media (max-width:450px){

        input{
            background-color: aliceblue !important;

        }


        .input-login{
            background-color: rgba(6, 71, 128, 0.637);
        }


        button{
            margin-right: 20px !important;
        }

        .agrupa-p{
            margin-left: 20px !important;
        }
        
        
    }
}

