.a1{
  display:flex;
  flex-direction:column;
  height:auto;
  width:100%;

.branco{
  background-color: none;
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  gap: 38px;



  p{
  
    margin-left: 25px;
  }
  h4{
    margin-left: 25px;
  }
}


.adetalheproduto{
  text-decoration: none;
  color: #000;
  
}

.adetalhes{


  text-decoration: none;
}
  
  }
  .a2{
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 40px;
 align-items: center;
 flex-direction: row;
 justify-content: center;
    .centralizar{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-direction: row;
    }

      .b1{
          display: flex;
          width: 85vh;
          height: 70vh;
          margin-left: 30px;
          align-items: center;
          justify-content: center;


          .filtro2{
            width: 400px;
            height: 400px;
            margin-right: 80px;
           

          }

      }



      .b2{
          display: flex;
          width: 45vw;
          height: 70vh;
          margin-right: 100px;
          flex-direction: column;
          



          .titulo{
              display: flex;
              width: 45vw;
              height: 20vh;
              align-items: center;
              justify-content: center;
              color:#8D8D8D;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
              font-size: 45px;
              margin-top: -20px;
              text-align: center;
              margin-bottom: 35px;
            
          }


          .descricao{
              display: flex;
              margin-top: -10px;
              justify-content: center;
              font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
              font-size: 15px;
              margin-bottom: 40px;
          }


          .preco{
              display: flex;
              font-family: sans-serif;
              color: #309CFF ;
              font-size: 40px;
              margin-left: 50px;
              margin-bottom: 70px;
          }


          .comprar{
              display: flex;
              outline: none;
              width: 14.5vw;
              height: 5vh;
              margin-left: 55px;
              justify-content: center;
              align-items: center;
              color: #fff;
              background-color: #309CFF;
              border: none;
              border-radius: 4px;
              font-size: 15px;
          }



          .estrelas{
              display: flex;
              margin-left: 360px;
              margin-top: -33px;
              width: 10px;
              height: 30px;
          }



      }
      
  }


  .a3{
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 55vh;
      margin-top: -30px;
     


    .b3{
      display: flex;

      width: 80vw;
      height: 50vh;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      margin-top: 10px;


      .setaesquerda{
          display: flex;
          position: relative;
          right: 50px;
      }
  



      .c1{
        background-color: #EEEEEE;
        width: 1vw;
        height: 42vh;
        border: 2px solid black;
        border-radius: 8px;
        flex-direction: column;
        margin-right: 20px;


       



        .imagizi{
          width: 12vw;
          height: 18vh;
          margin-left: 34px;
          margin-bottom: 10px;
          margin-top: 10px;
        }


        .ds{
          display: flex;
          justify-content: center;
          font-size: 15px;
        }


        .prc{
          display: flex;
          justify-content: center;
          color: #309CFF;
          font-size: 16px;
        }

        


        .frete{
          display: flex;
          justify-content: center;
          margin-left: 20px;          
        }


        .cmn{
          display: flex;
          margin-left: 145px;
          margin-top: -45px;
          
        }

      }


      .c2{
        background-color: #EEEEEE;
        width: 20vw;
        height: 42vh;
        border: 2px solid black;
        border-radius: 8px;
        flex-direction: column;
        margin-right: 20px;

        


          .imagizi{
              width: 12vw;
              height: 18vh;
              margin-left: 34px;
              margin-bottom: 10px;
              margin-top: 10px;
            }


            
        .ds{
          display: flex;
          justify-content: center;
          font-size: 15px;
        }

        .prc{
          display: flex;
          justify-content: center;
          color: #309CFF;
          font-size: 16px;
        }


        .frete{
          display: flex;
          justify-content: center;
          margin-left: 20px;
        }


        .cmn{
          display: flex;
          margin-left: 145px;
          margin-top: -41px;
          
        }

        }

        .c3{
          background-color: #EEEEEE;
          width: 20vw;
          height: 42vh;
          border: 2px solid black;
          border-radius: 8px;
          flex-direction: column;
          margin-right: 20px;


          .imagizi{
              width: 12vw;
              height: 18vh;
              margin-left: 34px;
              margin-bottom: 10px;
              margin-top: 10px;
              
            }
            
        .ds{
          display: flex;
          justify-content: center;
          font-size: 15px;
        }

        
        .prc{
          display: flex;
          justify-content: center;
          color: #309CFF;
          font-size: 16px;
        }

        .frete{
          display: flex;
          justify-content: center;
          margin-left: 20px;
        }

       

        .cmn{
          display: flex;
          margin-left: 145px;
          margin-top: -41px;
          
        }


        
          

        }

        .c4{
          background-color: #EEEEEE;
          width: 20vw;
          height: 42vh;
          border: 2px solid black;
          border-radius: 8px;
          flex-direction: column;
          margin-right: 20px;

         
          .imagizi{
              width: 12vw;
              height: 18vh;
              margin-left: 34px;
              margin-bottom: 10px;
              margin-top: 10px;
            }
            
        .ds{
          display: flex;
          justify-content: center;
          font-size: 15px;
        }

        
        .prc{
          display: flex;
          justify-content: center;
          color: #309CFF;
          font-size: 16px;
        }

        .frete{
          display: flex;
          justify-content: center;
          margin-left: 20px;        
        }


        
       

        }


        .setadireirta{
          display: flex;
          position: relative;
          left: 30px;
      }
      }
  }



  .final{
      margin-top: 40px;
  }



@media  (max-width: 850px) {
        
  
.a2{

  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.b1{

  height: 40vh !important;
}


.b2{

  
  margin-left: 110px !important;
  width: 90vw !important;
  margin-top: -20px !important;
}


.b3{

  width: 100vw !important;
  margin-top: -200px !important;
}

.a3{
  height: 27vh !important;
}


.c1{
  height: 24vh  !important;
  width:  25vw !important;
  margin-left: 20px !important;
}

.ds{
  font-size: 16.3px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.prc{

  font-size: 21px !important;
}


.imagizi{

  height: 12vh !important;
}


.c2{
  height: 24vh  !important;
  width:  25vw !important;
}


.c3{
  height: 24vh  !important;
  width:  25vw !important;
}


.c4{
  height: 24vh  !important;
  width:  25vw !important;
}


.titulo{
  width: 100vw !important;
  position: relative;
  right: 28px;
}




.descricao{

  text-align: center;
  margin-top: -50px !important;
  font-size: 18px !important;
}


.preco{

  margin-left: 260px !important;
  margin-top: 20px !important;
}



.comprar{

  width: 39vw !important;
  height: 4vh !important;
  margin-left: 226px !important;
  font-size: 23px !important;
}


.filtro2{
  margin-left: 30px;
  margin-top: 60px;
  
}


.ds{

  font-size: 15.9px !important;
}


.branco{
  margin-top: 15px ;
  
 
}

.frete{
  margin-left: 3px;
}






@media  (max-width: 650px) {



  .preco{
   

    height: 5vh;
    margin-left: 180px !important;
  }


  .comprar{
    margin-left: 155px !important;
    width: 45vw!important;
  }




  .a3{

    height: 30vh !important;
  }


  .c4{
    display: none;
  }


 .c1{
  height: 28vh !important;
  width: 29vw !important;
 }


 .c2{
  height: 28vh !important;
  width: 29vw !important;
 }


 .c3{
  height: 28vh !important;
  width: 29vw !important;
 }


 .imagizi{
    margin-left: 49px !important;
 }

 .prc{
  font-size: 22px !important
 }

 .branco{
  width: 30vw !important;
  margin-left: -15px !important;
 }

 .frete{
  width: 18.3vw !important;
 }
}





@media  (max-width: 450px) {


  .preco{

    width: 100vw !important;
    margin-left: 80px !important;
  }


  .comprar{
    margin-left: 45px !important;
    width: 70vw !important;
  }



  .c3{
    display: none;
  }


  .c1{
    width: 45vw !important;
    height: 27vh !important;
  }



  .c2{
    width: 45vw !important;
    height: 27vh !important;
  }

  .branco{
    width: 35vw !important;
    margin-left: 10px !important;
  }

  .frete{
    width: 200vw !important;
  }

  .imagizi{
    height: 10vh !important;
    width: 20vw !important;
  }

 

 
}

  
}




@media  (max-width: 1092px) {
  

.c1{
    height: 43vh !important;
}



.c2{
  height: 43vh !important;
}



.c3{
  height: 43vh !important;
}


.c4{
  height: 43vh !important;
}


.frete{
  width: 14vw;
}


.descricao{
  margin-top: 20px;
}



}


@media  (max-width: 976px) {

  .descricao{
    position: relative;
    top: 35px;
  }


  .frete{
    width: 10vw;
  }
}



@media  (max-width: 916px) {

.c4{
  height: 44.5vh !important;
}
}



@media  (max-width: 848px) {
  

  .titulo{
    margin-bottom: 115px !important;
    position: relative;
    top: 90px;
  }


  .b3{
    position: relative;
    top: 270px;
    
  }

  .preco{
   position: relative;
   top: 24px;
  }


  

}



@media  (max-width: 764px) {

  .comprar{
    position: relative;
    top: -20px;
    right: 30px;
  }


  .preco{


    position: relative;
    
    right: 30px;
  }
}


@media  (max-width: 668px) {


  .comprar{
    position: relative;
    top: -42px;
    right: 40px;
  }


  .preco{


    position: relative;
    top: 10px;
    right: 60px;
  }

}