.mae-loginn {


    .container-login {
    
    background-image: url(../../../public/assets/image/fundologiin.png);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
    
    
    .agrupa-tudo {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 110px !important;
    
    .erro-login {
        font-size: 30px;
        margin-top: 30px;
    }
    
    .usuario-login {
    
        .usuario {
            width: 200px;
            margin-left: 147px;
        }
    
        h2 {
            font-size: 35px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: white;
            margin-bottom: 60px;
        }
    }
    
    
    
    
    .input-login {
        display: flex;
        flex-direction: column;
    
    
        input {
            font-size: 18px;
            width: 490px !important;
            padding: 20px !important;
            margin-bottom: 30px;
            border: none;
            outline: none;
            border-radius: 5px;
        }
    }
    
    
    .agrupa-botao {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 480px !important;
    
        p {
            color: white;
            margin-bottom: 9px;
        }
        button {
            width: 210px !important;
            padding: 18px !important;
            font-size: 18px !important;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    
    }
    
    }
    
    
    
    
    
    nav{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px 10px 50px;
    .img-logo {
        width: 150px;
    }
    
    .adm-login {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        
    
        h3 {
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

       

    }
    }
    
    }
    
    
    
    
    
    }