.rodapee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url(../../public/assets/image/fundo-cabecalho.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 9vh;
   padding: 10px 50px 10px 50px;

  div>img {
    margin: 5px;
 }

    h3 {
      font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
    }

    
  }


  @media (max-width:650) {
    .grow{
      display: flex;
      flex-direction: row;
    }

    b{
      display: none;
    }
  }

  .redes {
    display: flex;

    width: 350px;

    justify-content: end;
    margin-right: -50px;

    img {
      width: 34px;
    }
  }


  @media (max-width:685px) {



    .rodapee{
     
      display: none;
    }
  }



  @media (max-width:1366px) {

    .rodapee{
      margin-top: 160px !important;
    }
  }


  @media  (max-width: 848px) {

    .rodapee{
      position: relative;
      top: 40px;
    }
  }