.mae-pedidos {





  .comprar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;

    button {
      font-size: 24px;
      color: #309CFF;
      border: none;
      padding: 15px;
      width: 170px;
      border-radius: 10px;
      cursor: pointer;
      margin-right: 15px;
    }
  }

  .containerPedido {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    padding: 40px 0px 0px 0px;
    background-image: url(../../public/assets/image/fundo-onda.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

    h1 {
      font-size: 65px;
      margin-bottom: 190px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    .agrupa-card {
      display: flex;
      flex-direction: row;

    }


  }

  .subtotal {
    background-color: #004586;
    width: 100%;
    height: 16vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    .sub2 {
        width: 600px;
      h3 {
        color: white;
        font-size: 32px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }



    }
  }

}











@media (max-width :850px) {

  h1 {
    margin-right: 1200px;
  }


  .agrupa-card {
    margin-right: 1220px;
    flex-direction: column !important;
    margin-top: -130px;
    gap: 40px;
  }


  .containeer {
    height: 20vh !important;
    width: 30vw;
  }

  p {
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }


  .sub2 {
    margin-top: 8px;
  }

  h3 {
    margin-top: 20px;
  }

  button {
    margin-top: 15px;
  }
}